*{
    font-size: 4vh;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    flex-direction: row;
}
body aside{
    overflow-y: scroll;
    position: fixed;
    border-right: solid 3px grey;
    width: 30%;
    text-align: justify;
    height: 100%;
}
aside ul li{
    list-style: none;
}
li a{
    color: black;
    text-decoration: none;
}
li a:hover{
    color: grey
}
body main{
    margin-left: 30%;
    padding: 5vh;
    font-size: 6vh;
}
body main p{
    margin-left: 3vh;
}
p, .example-box{
    font-size: 2vh;
}
.example-box{
    background-color: gainsboro;
    margin: 4vh;
    padding: 4vh;
}